body{
    background-color:  skyblue;
    
}

.p-1{
    border: 5px solid;
    border-radius: 10px;
}


.p-2{
    width: 100px;
    height: 50px;
    background-color:  yellowgreen;

    border: 15px solid;
    border-radius: 10px;
    color: grey;
 
    border-radius: 10px;


}
button:hover{
    background-color: brown;
}
.p-3{
    width: 1000px;
    height: 150px;
    color: brown;

}


.p-5{
    margin-left: 1400px;
    height: 10px;
    border: 10px solid;
    border-radius: 5px;
    color: greenyellow;
}

.c-3{
    width: 1500px;
    height: 150px;
    background-color:grey;
}

.c-7{
    width: 1500px;
    height: 200px;
    background-color: rgb(28, 131, 222);
    border-radius: 5px;
    padding-left: 10px 10 px 20 px 10 px;

}

.c-8{
    border: black  5px solid ;
    border-radius: 10px;
    background-color: grey;
    
}



.c-10{
    margin-left: 80px;
    border:dotted 7px red ;
    width: 250px;
    background-color: red;
    border-radius: 10px;
}

.c-11{
    width: 300px;
    border: 5 px dotted black;
    margin-left: 60px;
}


.c-15{
    width: 200px;
    height: 30px;
    background-color: rgb(199, 126, 0);
    margin-left: 1100px;
    border-radius: 10px;
}

.c-16{
    margin-left: 50px;
    
    border: 5px solid black;
    width: 70px;
    border-radius: 10px;
}

.f-1{
    width: 200px;
    height: 350px;
    border-radius: 10px;
    background-color: white;
    margin-left: 1100px;
    border: dotted 3px  rgb(0, 255, 166);
}
.f-3{
    width: 400px;
}

* CSS for basic styling */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
}

header {
    background: #333;
    color: white;
    padding: 10px 0;
}

header h1 {
    margin: 0;
    text-align: center;
}

nav ul {
    list-style-type: none;
    padding: 0;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 10px;
}

nav ul li a {
    color: white;
    text-decoration: none;
}

.t-1{
    width: 300px;
    border-radius: 120px;
    margin-right: 1100px;
}

.t-2{
    width: 300px;
    border-radius: 10px;
    border: dotted red 2px;
}

.t-4{
    width: 250px;
}

.t-7{
    width: 100px;
    height: 50px;
    background-color:  yellowgreen;
    border: 15px solid;
    border-radius: 10px;
    color: grey;
 
    border-radius: 10px;
}